<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link href="/static/table.css" th:href="@{/table.css}" rel="stylesheet" />
  <link href="/static/style.css" th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<table class="table">
  <tr>
    <th>Nickname</th>
    <th>Email</th>
    <th>Country</th>
  </tr>

  <tr th:each="user : ${users}">
    <td th:text="${user.nickname}">...</td>
    <td th:text="${user.email}">...</td>
    <td th:text="${user.country}">...</td>
    <td> <a th:href="@{'/food/edit/' + ${user.id}}" class="button">Edit</a> </td>
    <td> <a th:href="@{'/food/delete/' + ${user.id}}" class="btn-danger">Delete </a> </td>

  </tr>

</table><br>

<a th:href="@{/food/home}">Come back to main page</a>

</body>
</html>
